<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Lojas</title>
</head>
<body>
    <header class="navegation">
        <a href="#">Home</a>
        <a href="#">Noticias</a>
        <a href="#">Indique</a>
        <a href="#">Ajuda</a>
    </header>

    <main>
       <p>Registre sua loja aqui  <%= link_to 'Adicionar', new_shop_path %></p>
       <p>Veja as lojas registradas <%= link_to 'Mostrar', shops_path %></p>
    </main>

    <footer>

    </footer>
</body>
</html>