/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require style_home
 *= require_tree .
 *= require_self
 */

* {
    margin: 0px;
    padding: 0px;
}

.newshop {
    position: relative;
    left: 25%;
    top: 5%;
}
.ls-table {
    position: relative;
    left: 20%;
    top: 5%;
}

.bodyhome {
    position: relative;
    left: 20%;
    top: 10%;
    width: 75%;
}

.bodyindex {
    position: relative;
    top: 10%;
    left: 5%;
    width: 75%;
}

.welcomescreen {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.877);
    position: absolute;
    top: 30%;
    left: 38%;
    border-radius: 15px;
    padding: 80px;
    color: #fff;
}

.loginbotton {
    text-align: center;
}

.alerts_message {
    text-align: center;
}
